* {
  @include box-sizing(border-box);
}

$pad: 20px;

.row {
	background: white;
	margin: 0 0 $pad 0;
	//outline:1px solid red;
	
	&:after {
		/* Or @extend clearfix */
		content: "";
		display: table;
		clear: both;
	}
}

[class*='col-'] {
	float: left;
	//padding-right: $pad;
	padding:0 $pad/2;

	.row &:last-of-type {
		//padding-right: 0;
	}  
	@media screen and (max-width: $verySmall) {
		float:none;
		width:100% !important;
		padding-right:0;
	}    
	@media screen and (min-width:$verySmall) and (max-width: $small) {
		width:50% !important;
	}    
}
.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 50%;
}
.col-1-4 {
	width: 25%;
}
.col-1-8 {
	width: 12.5%;
}

/* Opt-in outside padding */
.row-pad {
	padding: $pad 0 $pad $pad;
	[class*='col-']:last-of-type {
		padding-right: $pad;
	}
}

// responsive video
.video {
   position: relative;
   padding-bottom: 56.25%; padding-bottom:50%;
   height: 0;
   overflow: hidden;
}
.video iframe, 
.video object, 
.video embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
