*, *:before, *:after {
  @include box-sizing(border-box);
}
* {
	margin:0;
	padding:0;	
} 
html, body {
   margin:0; 
   padding:0;	
   height:100%;
}
body {
   display:table; 
   width:100%; 
   background-color:black; background-color:white;
   //background-image:url('images/plaster-texture.jpg');
   
   @media screen and (min-width: $large) {
      //background-position:25% 0;
   }
}

.page-wrapper {
   margin-top:$header-space; margin-top:0;
   overflow:hidden;
   position:relative;

   @media screen and (max-width: $large) {
      padding-bottom:$footer-space;
   }
   @media screen and (max-width: $small) {
      padding-bottom:$footer-space-mobile;
   }
}

.wrapper {
   padding:$spacing $spacing*2 $spacing;
   overflow:hidden;
   
   @media screen and (max-width: $small) {
      padding:$spacing;
   }
}

section {margin:0; padding:0;}

header {
   z-index:2;
   position:absolute; 
   right:0; top:0;    
   width:100%; //min-height:100px; 
   //padding-bottom:1rem;
   color:white;
   //background-color:rgba(0,0,0,.4); 
   @extend .clearfix;
   
   @media screen and (min-width: $large) {
      width:75%
   }
   @media screen and (max-width: $small) {
      position:relative;
      min-height:3em;      
   }
}

.aside {
    @media screen and (min-width: $large) {      
      min-height:100vh;      
       
      &.left {
         position:absolute; 
         top:0; bottom:0; left:0; right:75%;
         background-color:black;
         border-right:1px solid silver;
      }
      &.right {
         margin-left:25%;
         margin-bottom:$footer-space;
      }
    }    
   
	&.right {
		@media screen and (min-width: $small) {    
			margin-top:$header-space;     
		}
		@media screen and (min-width: $small) and (max-width: $large) {   
		     margin-bottom:0;
		}	   
	}
}

.slider {
   position:relative;
   padding-bottom:50%;
   overflow:hidden;
   border-bottom:1px solid black;
   background-color:black;
   -webkit-overflow-scrolling: touch;
   
   ul {
       margin:0;  padding:0; 
   }
   li {
       position: absolute;
       top: 0; left: 0;
       width: 100%; 
       margin:0;
       padding-bottom:50%;            
   }
   img {
      position:absolute;
      width:100%;
      height:auto !important;  
   }
   .button {
      display:inline-block;
      position:absolute; 
      bottom:10%; right:20%;
      white-space:nowrap;
      
      @media screen and (max-width: $small) {
         bottom:15%; right:50%;
         font-size:.9em;
         
         /* horizontally center */
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
      }
   }
}

.navigatorLink {
	z-index:2;
	position:fixed; 
	top:0; right:0; 
	width:12vw; height:12vw;
	min-width:80px; min-height:80px;

	img {
		width:100%; height:100%;
		border:0;
	}
	@media screen and (max-width: $small) {
		top:40%;
	}
}

.novita {
	padding-top:$spacing;
}

.intro {
   overflow:hidden;
   padding-top:$spacing*2;
   background-color:white;
   background-image:url('images/alex.jpg');
   background-position:center bottom;
   background-repeat:no-repeat;
   //@include box-shadow(0 -10px 10px black);

   @media screen and (min-width: $large) {
      margin-bottom:$footer-space;
   }
   @media screen and (min-width: $medium) {
      margin-bottom:0;
   }
   @media screen and (max-width: $small) {
      background-image:url('images/alex-small.jpg');
      background-position:center top;      
   }
   
   h1 {
      text-align:center;
      margin-bottom:2em;
      color:white;
      @include text-shadow(0 0 10px #000000);
      color:black;
      @include text-shadow(0 0 10px #FFFFFF);
      //font-family:cursive;
      
       @media screen and (max-width: $small) {
          height:330px;
          margin-bottom:0;
       }
   }
   
   img {
      float:left;
      margin-right:1em; margin-bottom:1em;
      @include transition(all 0.3s ease-in-out);
   }
   img:hover {
      @include transform(scale(1.3));
   }
   p {
      clear:left; 
      margin-bottom:2em;
   }
   p:first-child {
      background-color:rgba(255, 255, 255, .5);
   }
   .decorazioni, .kustomite {
      width:50%;
      float:left;
      
      @media screen and (max-width: $small) {
         width:100%;
         float:none;
         padding:0 !important;         
         margin-bottom:$spacing;
         overflow:hidden;
      }
   }
   .decorazioni {
      padding-right:20%;
      
      h2 {
         color:$decorazioni-color; 
         font-weight:bold;
      }
      a {color:$decorazioni-color; }
      .button {
         color:$decorazioni-color;
         border-color:$decorazioni-color;
      }
      .button:hover, .button:focus {
         color:white;
         background-color:$decorazioni-color;
      }
   }
   .kustomite {
      padding-left:20%;
      
      h2 {
         color:$kustomite-color; 
         font-weight:bold;
      }
      a {color:$kustomite-color;}
      .button {
         color:$kustomite-color;
         border-color:$kustomite-color;
      }
      .button:hover, .button:focus {
         color:white;
         background-color:$kustomite-color;
      }
   }
}

.decorazioni {
   h2 {
      color:$decorazioni-color; 
      font-weight:bold;
   }
   a {color:$decorazioni-color; }
   .button {
      color:$decorazioni-color;
      border-color:$decorazioni-color;
   }
   .button:hover, .button:focus {
      color:white;
      background-color:$decorazioni-color;
   }
}

.kustomite {
   h2 {
      color:$kustomite-color; 
      font-weight:bold;
   }
   a {color:$kustomite-color;}
   .button {
      color:$kustomite-color;
      border-color:$kustomite-color;
   }
   .button:hover, .button:focus {
      color:white;
      background-color:$kustomite-color;
   }
}

.tiles {
   //margin-bottom:$footer-space;
   
   @media screen and (min-width: $large) {
      //width:25%;
      //max-height:100vh; 
      //overflow-y:scroll;
      //margin-bottom:$footer-space;
      //background-color:black;
   }
   
   ul {
      width:100%;
      margin:0; 
      padding:0; 
      list-style-type:none;
      overflow:hidden;
      position:relative;
   }
   li {
      position:relative;
      display:inline-block;
      float:left;
      width:50%; padding-bottom:50%;
      //margin-right:1%; margin-bottom:1%;
      background-color:silver;
      overflow:hidden;
      border:1px solid silver;
   }
   img {
       position: absolute;
       top: 0;
       left: 0;
       width:auto;
       height: 100%; 
       @include transition(all 0.3s ease-in-out);
   }
   img.reverse {
       height:auto;
       width: 100%; 
   }
   .adjust {
      margin-left:-50%;
   }
   li:hover {
      img {@include transform(scale(1.3));}
   }
   .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding:1em;
      margin:0;
      background-color:rgba(0,0,0,.5);
      color:white;
      text-align:center;      
   }
   .description {
      height:0;
      overflow:hidden;
   }
   .caption:hover {
      .description {
         //height:auto;
      }
   }
   h2 {
      font-size:1em;
      margin-bottom:0; 
   }
   
   @media screen and (max-width: $large) {
     li {   
         width:20%; padding-bottom:20%; 
         margin:0;
     }
   }
   @media screen and (max-width: $small) {
     li {   
         width:50%; padding-bottom:50%; 
         margin:0;
     }
   }
}

.thumbs {
	overflow:hidden;
	margin-bottom:4em;
	
   @media screen and (max-width: $medium) {
      margin-bottom:$footer-space-mobile;
   }
   
   ul {
	   list-style-type:none;
	   margin:0;
	   padding:0;
   }   
   li {
	   position:relative;
	   display:inline-block;
	   float:left;	 
	   overflow:hidden;  
	   border:5px solid white;
	   outline:1px solid silver;
	   
	   @media screen and (max-width: $small) {
	      width:50%; height:auto; padding-bottom:50%;
	   }
	   @media screen and (max-width: $medium) and (min-width: $small+1) {
	      width:33.33%; height:auto; padding-bottom:33.33%;
	   }
	   @media screen and (min-width: $medium+1){
	      width:20%; height:auto; padding-bottom:20%;
	   }
	}
	li:hover {
	  img {@include transform(scale(1.3));}
	}
   &.tag li {
	   outline:0;
   }
   img {
       position: absolute;
       top: 0;
       left: 0;
       width:auto;
       height: 100%; 
       @include transition(all 0.3s ease-in-out);
   }
}

.small-thumbs {
	margin:0 auto;
	//overflow:hidden;
	text-align:center;
	
	table {
		width:100%;
		text-align:center;
	}
	td {
		display:inline-block;
		//float:left;
		width:50px; 
		height:50px;		
	}
	td + td {
		margin-left:1em;
	}
	img {
		width:100%;
		height:auto !important;
	}
}

.single {
	.bigPic {
		a {
			display:block;
			width:100%;
			//height:auto; max-height:100vh;
			text-align:center;
		}
		img {
			display:inline-block;
			//width:100%; height:auto !important;
			max-height: 70vh; max-width: 100%;
			margin:0 auto;
			//outline:1px solid red;
			@include box-shadow(0 0 8px black);
		}
		h3 {
    		text-align:center;
		}
	}
}

.corsi {	
	//list-style-position: inside;
	margin-bottom:1em;	
	padding-left:1em;
}

.corsi-tiles {
	overflow: hidden;
	list-style:none;
	
	li {
		float:left;
		display:inline-block;
		padding:0 .5em;
		text-align:center;

	   @media screen and (max-width: $small) {
	      width:100%; height:auto; 
	   }
	   @media screen and (max-width: $medium) and (min-width: $small+1) {
	      width:50%; height:auto;
	   }
	   @media screen and (min-width: $medium+1){
	      width:25%; height:auto;
	   }

	}
}

.all-news {
	padding:2em 2em 0;
}

.news2 {
	outline:1px solid silver;
	//padding:0 1em 1em;
	overflow:hidden;
	margin-bottom:2em;
	padding-top:0;
	word-break:break-word;

	.news-image { 
		width:100%;	
		padding-bottom:50%;
		overflow:hidden;	
		img {
			width:100%;
			height:auto;
		}
	}
	.date-content {
		padding:0 1em 1em;
	}
	.date {
		margin-bottom:0;
		margin-top:.5em;
		color:grey;
		font-style:italic;

		.divider2 {display:none;}
		.span {
			display:block;
			font-style:normal;
			font-family: 'Julius Sans One', sans-serif;				
			//font-size: 2vw;
		}		
	}	
	.content {
		clear:both;
		margin-top:1em;
	}
}

.news {
	outline:1px solid silver;
	padding:2em;
	overflow:hidden;
	margin-bottom:2em;

	@media screen and (max-width: $verySmall) {
		//outline:none;
		padding:1em;
	}	
	.news-image { 
		float:left;
		margin-right:2em;
		
		@media screen and (max-width: $verySmall) {
			//float:none;
			//display:block;
			//margin:0 auto .5em;
			width:40%;
			//margin-bottom:1em;
		}
	}
	.date {
		margin-bottom:1em;
		color:grey;
		font-style:italic;
		
		@media screen and (max-width: $verySmall) {
			margin-bottom:0;
			margin-top:.5em;
			.divider {display:none;}
			span {
				display:block;
				font-style:normal;
				font-family: 'Julius Sans One', sans-serif;				
				font-size: 8vw;
			}
			//border: 1px solid silver;
		}
	}	
	.content {
		@media screen and (max-width: $verySmall) {
			clear:both;
			margin-top:1em;
			//padding:1em;
			//border: 1px solid silver;
		}
	}
}

.contact-me {
    .category-collezione-quadri-navigator & span {
        display:none;
    }
}

footer {   
   /*display:table-row; 
   height:1px; */
   
   display:block;
   position:fixed; bottom:0; right:0; 
   width:100%;
   
   background-color:rgba(0,0,0,.7); 
   color:white;
   text-align:center;
   //font-size:80%;
   //font-family: 'Julius Sans One', sans-serif;

   @media screen and (min-width: $large) {
      width:75%;
   }
      
	.wrapper {
		padding:1em;
	}
	p {
	  margin:0;
	}
	a {
	  color:white; 
	  //font-size:1.5rem;
	  text-decoration:none;
	  white-space: nowrap;
	  
	  &:hover, &:focus {
	     color:$link-color;
	     text-decoration:none;
	  }
	}
	span {
	  display:inline-block;
	  width:1em;
	}
	
	@media screen and (max-width: $small) {
		//.separator {display:none;}
		a {font-size:1.5rem;}
	
    	 @media screen and (orientation:landscape) {
        	 position:relative;
    	 }
	 }
}